<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blurbcircle</title>
		<link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-2.3.2.css">
		<link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-responsive.css">
                <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
                <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
		<link rel="stylesheet" href="css/index.css">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    	       <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" 
          rel="stylesheet" type="text/css">
	       <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
	       <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
	       <script src= "js/blurbcircle.js"></script>
	</head>

	<body>

    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          // init the FB JS SDK
          FB.init({
            appId      : '515898268464303',                        // App ID from the app dashboard
            cookie     : true,
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
          });

        // Additional initialization code such as adding Event Listeners goes here

        };

        (function(d){
          var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all.js";
          ref.parentNode.insertBefore(js, ref);
        }(document));

      </script>

		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</a> <!-- icon that appears in mobile mode for navbar -->
          			<a class="brand logo" href="#">Blurbcircle</a><!-- Logo -->
          			<div class="nav-collapse">
          				<ul class="nav">
          					<li class="active home"><a href="#"><i class="icon-home"></i>Home</a></li>
                    <% if(loggedIn) { %>
                    <li class="dropdown">
                      <a class="userBtn dropdown-toggle" data-toggle="dropdown" href="#"><%= username %> <i class="icon-chevron-down"></i></a>
		                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
			                 <li><a class="profileBtn" href="#">Profile</a></li>
			                 <li><a class="logoutBtn"  href="#">Logout</a></li>
		                  </ul>
		                </li>
                    <% } else { %>
                    <li class="loginBtn"><a href="#"><i class="icon-facebook"></i> Login</a></li>
                    <% } %>
          					<li><a href="#modalBuy" data-toggle="modal"><i class="icon-plus"></i> Post buy</a></li>
          					<li><a href="#modalSell" data-toggle="modal"><i class="icon-minus"></i> Post sale</a></li>
          					<li class="visible-phone visible-tablet"><a href="#"><i class="icon-map-marker icon-large "></i> Category</a></li>
          					<li class="visible-phone visible-tablet"><a href="#"><i class="icon-th-large "></i> Location</a></li>
          					
          					<li class="visible-phone visible-tablet"><form class="navbar-search" >
                    				<input type="text" class="search-query" placeholder="Search">
                 				 </form><!-- navbar-search -->
              				</li><!-- li -->
          				</ul><!-- nav -->
          				<form class="navbar-search pull-right visible-desktop search-bar">
                    		<input type="text" class="search-query span2" placeholder="Search">
                 		</form><!-- navbar-search -->
          			</div><!-- nav-collapse -->
				</div><!-- container -->
			</div><!-- navbar-inner -->
		</div><!-- navbar navbar-fixed-top -->

		<div class="container content">
			<div class="row-fluid heading top-panel">
				<div class="span9 offset1">
					

            <h2>Buyer meets seller, seller meets buyer!</h2>
				</div>
			</div>

      <div id="modalBuy" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Post a buy</h3>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span6 form-buy-sell">
                <form>
                  <input type="text" class="input-block-level" placeholder="Item name">
                  <input type="text" class="span6" placeholder="Start price">
                  <input type="text" class="span6" placeholder="Last price">
                  <textarea placeholder="Description" class="input-block-level"></textarea>
                  <ul class="nav nav-pills">
                    <li><a href="#" class="locationBtn"><i class="icon-map-marker icon-2x"></i></a></li>
                    <li><a href="#" class="categoryBtn"><i class="icon-th-large icon-2x"></i></a></li>
                    <li><a href="#" class="uploadBtn"><i class="icon-picture icon-2x"></i></a></li>
                  </ul>
                  <span class="uneditable-input input-block-level">Location / Category / File</span>
                  <button class="btn btn-block btn-success" type="submit"><i class="icon-facebook"></i> Post</button>
                </form>
              </div>
              <div class="span6">
                <ul class="nav nav-pills board-category">
                  <li><a href="#">Pink</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                </ul>

                <ul class="nav nav-pills board-location">
                  <li><a href="#">Delsu</a></li>
                  <li><a href="#">UnN</a></li>
                  <li><a href="#">UNIport</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#" class="btn">Clear</a>
          <a href="#" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Post buy</a>
        </div>
      </div>

      <div id="modalSell" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Post a sale</h3>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span6 form-buy-sell">
                <form>
                  <input type="text" class="input-block-level" placeholder="Item name">
                  <input type="text" class="span6" placeholder="Start price">
                  <input type="text" class="span6" placeholder="Last price">
                  <textarea placeholder="Description" class="input-block-level"></textarea>
                  <ul class="nav nav-pills">
                    <li><a href="#" class="locationBtn"><i class="icon-map-marker icon-2x"></i></a></li>
                    <li><a href="#" class="categoryBtn"><i class="icon-th-large icon-2x"></i></a></li>
                    <li><a href="#" class="uploadBtn"><i class="icon-picture icon-2x"></i></a></li>
                  </ul>
                  <span class="uneditable-input input-block-level">Location / Category / File</span>
                  <button class="btn btn-block btn-success" type="submit"><i class="icon-facebook"></i> Post</button>
                </form>
              </div>
              <div class="span6">
                <ul class="nav nav-pills board-category">
                  <li><a href="#">Pink</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Books</a></li>
                </ul>

                <ul class="nav nav-pills board-location">
                  <li><a href="#">Delsu</a></li>
                  <li><a href="#">UnN</a></li>
                  <li><a href="#">UNIport</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#" class="btn">Clear</a>
          <a href="#" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Post buy</a>
        </div>
      </div>

			<div class="row-fluid">
				<div class="span9 offset1 dividing-line">
					
				</div>
			</div>

			<div class="row">
				<div class="span9 offset1">
					<ul class="thumbnails">
            			<li class="span3">
              				<div class="thumbnail thumbnail-mod">
                				<img src="http://placehold.it/480x200" class="visible-phone" alt="">
                				<img src="http://placehold.it/150x200" class="visible-tablet" alt="">
                				<img src="http://placehold.it/250x200" class="visible-desktop" alt="">
                				<div class="thumbnail-description">
                  					<h4>Bold 5 &nbsp;<i class="icon-caret-right"></i>&nbsp; &#8358;3, 000</h4>
                  					<strong style="font-style: italic;"><a href="#" class="usernameName muted">zimuzostanley <br> <span class="muted">23-12-2013</span></a></strong>
                  					<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                 					</p>   
                  					<div>
                    					<a href="#" style="text-decoration: none;"><i class="icon-comment icon-large"></i> 13</a> 
                  					</div><!-- div -->
                				</div><!-- thumbnail-description -->
              				</div><!-- thumbnail thumnail-mod -->
            			</li><!-- li -->

                  
          			</ul>


				</div>
			</div>

			<div class="sideBar span2 visible-desktop">
				<div class="row">
					<div class="span2">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#category" data-toggle="tab"><i class="icon-th-large icon-2x"></i></a></li>
							<li><a href="#location" data-toggle="tab"><i class="icon-map-marker icon-2x"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="row tab-content">
					<div class="span2 tab-pane active" id="category">
						<ul class="nav">
							<li class="active"><a href="#">Phones</a></li>
							<li><a href="#">Books</a></li>
							<li><a href="#">Electronics</a></li>
						</ul>
					</div>

          <div class="span2 tab-pane" id="location">
            <ul class="nav">
              <li class="active"><a href="#">Delsu</a></li>
              <li><a href="#">UNN</a></li>
              <li><a href="#">CU</a></li>
            </ul>
          </div>
				</div>
				

				
			</div>
		</div>
	</body>

</html>
