                    <% if(loggedIn) { %>
                    <li class="userBtn"><a href="#"><%= username %> &nbsp; <i class="icon-chevron-down"></i></a></li>
                    <% } else { %>
                    <li class="loginBtn"><a href="#"><i class="icon-facebook"></i> Login</a></li>
                    <% } %>
